.roadmap_wrapper_title{
	margin-top: 60px;
	@include breakpoint(medium) {
		margin-top: 120px;
	}
}
.roadmap_wrapper {
	max-width: 1080px;
	margin: 50px auto;
	padding: 0 20px;
	position: relative;
	.center-line {
		position: absolute;
		height: 100%;
		width: 4px;
		background: $secondary;
		left: 50%;
		top: 20px;
		transform: translateX(-50%);
		.scroll-icon {
			bottom: 0px;
			left: 50%;
			font-size: 25px;
			transform: translateX(-50%);
		}
	}
	.roadmap_row {
		display: flex;
		&.row-1 {
			justify-content: flex-start;
			section{
				&::before{
					right: -7px;
				}
				.icon{
					top: 15px;
					right: -60px;
				}
			}
		}
		
		&.row-2 {
			justify-content: flex-end;
			section{
				&::before{
					left: -7px;
				}
				.icon{
					top: 15px;
					left: -60px;
				}
			}
		}
		section{
			background: $secondary;
			border-radius: 5px;
			width: calc(50% - 40px);
			padding: 20px;
			position: relative;
			color: $light;
			text-align: left;
			font-size: 16px;
			font-weight: 300;
			&::before{
				position: absolute;
				content: "";
				height: 15px;
				width: 15px;
				background: $secondary;
				top: 28px;
				z-index: -1;
				transform: rotate(45deg);
			}
			.details,
			.bottom {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;
			}
			.details{
				font-size: 16px;
				font-weight: 400;
				line-height: 1.2em;
				margin-bottom: 15px;
				.title{
					font-size: 22px;
					font-weight: 600;
					line-height: 1.2em;
					padding-right: 10px;
					width: 100%;
					margin-bottom: 0;
					@include breakpoint(small) {
						width: auto;
					}
				}
			}
			p{
				margin: 10px 0 17px 0;
			}
			.bottom{
				a{
					text-decoration: none;
					background: #1e597e;
					color: $secondary;
					padding: 7px 15px;
					border-radius: 5px;
					/* font-size: 17px; */
					font-weight: 400;
					transition: all 0.3s ease;
					&:hover{
						opacity: .7;
					}
				}
			}
		}
	}
	.icon, .scroll-icon{
		position: absolute;
		background: $light;
		height: 40px;
		width: 40px;
		text-align: center;
		line-height: 40px;
		border-radius: 50%;
		color: #1e597e;
		font-size: 17px;
		box-shadow: 0 0 0 4px $secondary, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
	}
	@media(max-width: 790px) {
		.center-line {
			left: 40px;
		}
	
		.roadmap_row {
			margin: 30px 0 3px 60px;
			section {
				width: 100%;
			}
			&.row-1 {
				section{
					&::before{
						left: -7px;
					}
					.icon{
						left: -60px;
					}
				}
			}
		}
	}
	@media(max-width: 440px) {
	
		.center-line,
		.row section::before,
		.row section .icon {
			display: none;
		}
	
		.roadmap_wrapper .roadmap_row {
			margin: 10px 0;
		}
	}
}

